---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Porfolio">
	<main>
	
	<section class="container relative h-14 flex justify-between items-center text-fuchsia-800">
		<ul>
			<li class="nav">Inicio</li>
			<li class="nav">Porfolio</li>
			<li class="nav">Sobre Mi</li>
			<li class="nav">Skills</li>
		</ul>
	</section>

</main>
</Layout>
